.env
.env.*
!.env.example

.venv
.git
.gitignore
.idea

.pytest_cache
.mypy_cache
.ruff_cache
.coverage
htmlcov

__pycache__
**/__pycache__
*.py[cod]
*.log
*.sqlite
*.sqlite3
*.db

mem_resolve_app/.adk
data/chroma
tests

.DS_Store